body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: $bg-color-main
}

// img {
//     height: auto;
//     max-width: 100%;
// }

ul {
    list-style-type: none;
}

a {
    color: $primary-color;
    text-decoration: none;
}